/* style.css */
body { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-family: sans-serif; 
	line-height: 1.5; 
	min-height: 100vh; 
	background: whitesmoke; 
	flex-direction: column; 
	margin-top: 12px; 
	margin-bottom: 12px;
	background-image: linear-gradient(to right, Blue, black);
} 

.main { 
	background:transparent;  
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width:500px;
	text-align: center; 
} 

/*-----------------------------Avatar-upload-section-------------------------------------------------*/
.avatar-wrapper{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}
	&:hover .profile-pic{
		opacity: .5;
	}
	.profile-pic {
    height: 100%;
	width: 100%;
	transition: all .3s ease;
	&:after {
	font-family: FontAwesome;
			content: "\f007";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 190px;
			background: #ecf0f1;
			color: #34495e;
			text-align: center;
		}
	}
	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		.fa fa-arrow-circle-up {
			position: absolute;
			font-size: 234px;
			top: -17px;
			left: 0;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
			color: #34495e;
		}
		&:hover .fa-arrow-circle-up{
			opacity: .9;
		}
	}
}
/*-----------------------------Avatar-upload-section-close------------------------------------------------*/

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #fff; 
	font-weight: bold; 
} 

#pass { 
	color: red; 
	font-size: 12px; 
} 

input { 
	display: block; 
	width: 100%; 
	height: 45px;
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
	background: transparent;
	color: #fff;
	font-size: small;
} 
#gender {
	background: transparent;
}

select { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
	color: whitesmoke;
	font-size: small;
} 
option {
	background: black;
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}


 
@media (max-width: 900px) {
    .main {
		width: 300px;
	}
	input {
		height: 34px;
		font-size: smaller;
	}
	label {
		font-size: smaller;
		font-family: sans-serif;
	}
	#gender {
		height: 40px;
		font-size: smaller;
	}
	.wrap { 
		display: flex;  
		align-items: center; 
	}
	.avatar {	
		width: 75px;
	}
	
}












