

/*-------------------play video page-----------------------------*/
.play-container {
    padding-left: 2%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video {
    flex-basis: 69%;   
}
.right-sidebar {
    flex-basis: 30%;
}
.play-video video {
    width: 100%;
    border-radius: 6px;
    
}
.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img {
    width: 100%;
    height: 13.5vh;
    border-radius: 4%;
}
.side-video-list .small-thumbnail {
    flex-basis: 49%;

}
.side-video-list .vid-info {
    flex-basis: 49%;
}
.play-video .tags a {
    color: #0000ff;
    font-size: 13px;
}
.play-video h3 {
    font-weight: 600;
    font-size: 22px;
}
.play-video .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .play-video-info a img {
    width: 17px;
    margin-right: 8px;
}
.play-video .play-video-info a {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div {
    flex: 1;
    line-height: 18px;
}
.publisher img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 15px;
}
.publisher div p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.publisher div span {
    font-size: x-small;
    color: #5a5a5a;
}
.publisher button {
    background: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}
.vid-description {
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4 {
    font-size: 14px;
    color:#5a5a5a;
    margin-top: 15px;
    margin-bottom: 15px;
} 
.add-comment {
    display: contents;
    align-items: center;
    margin: 30px 0;
}
.add-comment img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
} 
.old-comment {
    display:flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    border-radius: 50px;
    
}
.old-comment h3 {
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span {
    font-size: 12px;
    color: #5a5a5a; 
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
    
}
.old-comment .acomment-action span {
    margin-right: 20px;
    color: #5a5a5a;
}
.old-comment .acomment-action a {
    color: #0000ff;
} 
@media (max-width:900px) {
    .play-video {
       flex-basis: 100%; 
    }
    .right-sidebar {
        flex-basis: 100%;
    }
    .play-container {
        padding-left: 5%;
    }
    .vid-description {
        padding-left: 0%;
    }
}
/*------------------------------------Like and Dislike------------------------------------*/
.post {
	width: 400px;
	font-family: 'Lexend', sans-serif;
}
.post-ratings-container {
	display: flex;
	justify-content: end;
	padding: 12px 0;
}
.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
}
.post-rating:not(:last-child) {
	margin-right: 12px;
}
.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: rgb(57, 116, 255);
}
.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #555555;
}
.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #000000;
}
.acomment-action .post .post-ratings-container {
    .post {
        width: 400px;
        font-family: 'Lexend', sans-serif;
    }
    .post-ratings-container {
        display: flex;
        justify-content: end;
        padding: 12px 0;
    }
    .post-rating {
        display: flex;
        align-items: center;
        cursor: default;
    }
    .post-rating:not(:last-child) {
        
    }
    .post-rating-selected > .post-rating-button,
    .post-rating-selected > .post-rating-count {
        color: rgb(57, 116, 255);
    }
    .post-rating-button {
        margin-right: 6px;
        cursor: pointer;
        color: #555555;
    }
    .post-rating:not(.post-rating-selected) > .post-rating-button:hover {
        color: #000000;
    }

}

/*-----------------------------------------------------Share-Button--------------------------------------------------------------------------*/ 
  .hidden {
    display: none;
  }
  
  svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  
  button, .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  button:hover, .button:hover {
    border-color: #cdd;
  }
  
  .share-button, .copy-link {
    padding-left: 30px;
    padding-right: 30px;
  }
  .share-button {
    margin-top: 10%;
    cursor: pointer;
  }
  
  .post-ratings-container .share-button, .share-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
	justify-content: end;
	padding: 12px 0;
  }
  
  .share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .share-dialog.is-open {
    display: block;
    z-index: 2;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .close-button svg {
    margin-right: 0;
  }
  
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
  }
  
  .pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width:900px) {
    .share-button {
        margin-top: 18%;
        cursor: pointer;
      }
    
}
/*-----------------------------------------------------Share-End--------------------------------------------------------------------------*/